<div class="container">
  <section class="hero-section">
    <h1>Explore NFTs</h1>
    <h3>
      Discover unique NFTs created by top digital minds. Trade, collect, and
      flex — all from your wallet. Built on-chain. Owned by you. Forever.
    </h3>
  </section>

  <section class="filter-section">
    <div class="filter">
      <button
        *ngFor="let filter of filters.slice(0, 7)"
        class="glassy-button"
        [id]="filter.value"
        [class.active]="checkFilterIsActive(filter.value)"
        (click)="toggleFilter(filter.value)"
      >
        <i [class]="filter.icon + ' ' + 'fas'"></i
        >{{ replaceDashWithSpace(filter.value) }}
      </button>
      <button
        class="glassy-button"
        [class.active]="isSeeMoreActive()"
        (click)="toggleCategoriesModal()"
      >
        <i class="fas fa-angles-right"></i>
        See More
      </button>
    </div>

    <select [(ngModel)]="order">
      <option value="explore asc" selected>Explore</option>
      <option value="price asc">Price: Low to High</option>
      <option value="price desc">Price: High to Low</option>
      <option value="age asc">Newest To Oldest</option>
      <option value="age desc">Oldest To Newest</option>
    </select>

    <div class="search-bar">
      <i class="fas fa-search"></i>
      <input
        [(ngModel)]="searchTerm"
        type="text"
        placeholder="Search for NFT by name..."
      />
    </div>

    <div class="extra">
      <div class="live-count">
        {{ nftsFound + " NFT" + (nftsFound !== 1 ? "s" : "") + " Found" }}
      </div>
      <button class="glassy-button" (click)="toggleFilter('all')">
        Clear All Filters
      </button>
    </div>
  </section>

  <app-nft-grid
    [order]="order"
    [filters]="activeFilters"
    [searchTerm]="searchTerm"
    (nftsFound)="onNftsFound($event)"
  ></app-nft-grid>
</div>

<div class="categories-modal" [class.show]="showCategoriesModal">
  <div class="modal-container">
    <button class="close" (click)="toggleCategoriesModal()">
      <i class="fas fa-xmark"></i>
    </button>
    <button
      *ngFor="let filter of getModalFilters()"
      class="glassy-button"
      [id]="filter.value"
      [class.active]="checkFilterIsActive(filter.value)"
      (click)="toggleFilter(filter.value)"
    >
      <i [class]="filter.icon + ' ' + 'fas'"></i
      >{{ replaceDashWithSpace(filter.value) }}
    </button>
  </div>
</div>
