<app-loader></app-loader>

<div class="container" *ngIf="item">
  <section class="top">
    <div class="img-container">
      <img [src]="item.metadata.image" alt="nft-img" />
    </div>
    <div class="metadata">
      <div><span>Title:</span>{{ item.metadata.name }}</div>
      <div style="text-transform: capitalize">
        <span>Category/Tags:</span>{{ item.metadata.categories.join(", ") }}
      </div>
      <div><span>Current Owner:</span>{{ item.owner | shortenAddress }}</div>
      <div>
        <span>Token ID:</span>{{ isNFT(item) ? item.tokenId : item._id }}
      </div>
    </div>
  </section>
  <section class="mid">
    <h2>More Details <i class="fas fa-circle-info"></i></h2>

    <div class="details">
      <div>
        <span>Creator Address:</span>{{ item.creator | shortenAddress }}
      </div>
      <div>
        <span>Contract Address:</span>{{ contractAddr | shortenAddress }}
      </div>
      <div><span>Description:</span>{{ item.metadata.description }}</div>
      <div><span>Price:</span>{{ weiToEth(item.price) }} ETH</div>
    </div>

    <div class="action-btns">
      <button
        class="glassy-button"
        [class.active]="bookmarked"
        *ngIf="walletAddr !== item.owner"
        (click)="toggleBookmark()"
      >
        <i class="fas fa-bookmark"></i> Bookmark
      </button>
      <button
        class="glassy-button"
        *ngIf="walletAddr !== item.owner && item.isListed && isNFT(item)"
      >
        Buy Now
      </button>
      <button
        class="glassy-button"
        *ngIf="walletAddr === item.owner && !item.isListed"
      >
        List For Sale
      </button>
      <button
        class="glassy-button"
        *ngIf="walletAddr === item.owner && item.isListed"
      >
        Cancel Listing
      </button>
      <button
        class="glassy-button"
        *ngIf="!isNFT(item) && (walletAddr === item.owner || item.isListed)"
        (click)="mint()"
      >
        Mint
      </button>
      <button class="glassy-button" *ngIf="walletAddr === item.owner">
        Transfer Ownership
      </button>
      <button class="glassy-button">View On Etherscan</button>
    </div>

    <h3>Other NFTs You Can Check Out</h3>
    <app-nft-grid [firstPageOnly]="item._id"></app-nft-grid>
  </section>
</div>
