<div class="container">
  <section class="top">
    <div class="img-container">
      <img src="../../../../assets/nft.jpg" alt="nft-img" />
    </div>
    <div class="metadata">
      <div>
        <span>Title:</span>Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Nihil enim facilis eaque iusto expedita! Veritatis!
      </div>
      <div><span>Category/Tags:</span>Art, Beauty, Nature</div>
      <div><span>Current Owner:</span>0xfde...3gt43</div>
      <div><span>Token ID:</span>156</div>
    </div>
  </section>
  <section class="mid">
    <h2>More Details <i class="fas fa-circle-info"></i></h2>

    <div class="details">
      <div><span>Creator Address:</span>0xfde...3gt43</div>
      <div><span>Contract Address:</span>0xfde...3gt43</div>
      <div>
        <span>Description:</span>Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Minima et voluptatum harum. Veritatis soluta vitae
        doloremque tempora magni, quos esse libero culpa ea quae dolore unde
        maxime! Expedita saepe aliquam fugit veniam laboriosam numquam incidunt
        culpa, similique odit consequatur quo quam tenetur repellat provident
        nesciunt. Ab dolorem laborum, voluptatibus temporibus illum ipsam
        suscipit, quis, cum recusandae sed aliquid delectus ullam impedit
        quibusdam excepturi quisquam! Voluptas error consectetur odio!
        Explicabo, voluptatem. Aliquam laudantium nobis adipisci dolor pariatur
        sunt, delectus maxime numquam illum libero voluptatibus quis id soluta
        earum aspernatur. Doloribus dicta libero aspernatur eaque ratione modi
        maxime saepe ullam ea illum?
      </div>
      <div><span>Price:</span>1 ETH</div>
    </div>

    <div class="action-btns">
      <button class="glassy-button">
        <i class="fas fa-bookmark"></i> Bookmark
      </button>
      <button class="glassy-button">Buy Now</button>
      <button class="glassy-button">List For Sale</button>
      <button class="glassy-button">Cancel Listing</button>
      <button class="glassy-button">Transfer Ownership</button>
      <button class="glassy-button">View On Etherscan</button>
    </div>

    <h3>Other NFTs You Can Check Out</h3>
    <app-nft-grid></app-nft-grid>
  </section>
</div>
