<app-loader></app-loader>
<div class="container">
  <section class="hero-section">
    <h1>Discover, Create & Sell Unique NFTs</h1>
    <h3>Own digital art with just your wallet. No sign-up required.</h3>
    <div class="cta-buttons">
      <button class="glassy-button" routerLink="/explore">Explore NFTs</button>
      <button *ngIf="walletAddress" class="glassy-button" routerLink="/create">
        Create NFTs
      </button>
      <button *ngIf="!walletAddress" class="glassy-button">
        Connect Wallet
      </button>
    </div>
  </section>

  <section class="featured">
    <h2>Featured NFTs</h2>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let item of featuredNFTs">
        <div class="nft-card">
          <div class="img-container">
            <img [src]="item.metadata.image" alt="NFT Image" />
            <span>🔥 HOT</span>
          </div>
          <div class="div"><span>Name: </span>{{ item.metadata.name }}</div>
          <div class="div">
            <span>Owner: </span>{{ item.creator | shortenAddress }}
          </div>
          <div class="div">
            <span>Current Status: </span>
            {{ item.isListed ? "For Sale" : "Not For Sale" }}
          </div>
          <div class="div">
            <span>Price: </span>{{ weiToEth(item.price) }} ETH
          </div>
          <div class="action-btns">
            <button
              class="glassy-button"
              *ngIf="item.creator === walletAddress && !item.isListed"
            >
              List For Sale
            </button>
            <button
              class="glassy-button"
              *ngIf="item.creator === walletAddress && !item.isListed"
            >
              Edit Price
            </button>
            <button
              class="glassy-button"
              *ngIf="item.creator === walletAddress && item.isListed"
            >
              Cancel Listing
            </button>
            <button class="glassy-button" (click)="viewMore(item)">View</button>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
    <button class="glassy-button ft-btn" routerLink="/explore">
      Explore More NFTs
      <i class="fas fa-chevron-right"></i>
    </button>
  </section>

  <section class="description">
    <h2>How It Works</h2>
    <div class="icons">
      <div><i class="fas fa-link"></i> <span>Connect Your Wallet</span></div>
      <div><i class="fas fa-plus"></i> <span>Create Your NFT</span></div>
      <div>
        <i class="fas fa-money-bill-wave"></i> <span>Buy And Sell NFTs</span>
      </div>
    </div>

    <a routerLink="/create">Get Started</a>
  </section>
</div>
