.top {
  display: flex;
  gap: 20px;

  .circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
  }

  .img-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #00e0ff;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }

  .img-container:hover {
    box-shadow: 0 0 12px #00e0ff;
  }

  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .circle span {
    position: absolute;
    top: 10px;
    right: -10px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 5px;
    padding: 5px;

    color: var(--secondary);
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    line-height: 30px;

    .glassy-button {
      max-width: 300px;
    }
  }
}

.nft-gallery {
  border-top: 0.5px solid var(--primary);
  margin-top: 80px;
  padding: 20px 0;

  select {
    margin-left: 10px;
    border: 0.7px solid var(--primary);
    border-radius: 3px;
    padding: 3px 10px;
  }

  .grid-cont {
    max-height: 700px;
    overflow-y: scroll;
    margin-top: 20px;
  }
}

.profile-stats {
  .recent-activity {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.profile-modal {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.profile-modal.show {
  z-index: 9999;
  visibility: visible;
  opacity: 1;
}

.modal-container {
  background-color: var(--bg-card);
  width: 100%;
  max-width: 700px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  padding: 30px 70px;
  border-radius: 10px;
  border: 2px solid var(--primary);
  gap: 20px;
  position: relative;

  .fas {
    margin: 0 5px;
  }

  .close {
    width: 50px;
    height: 50px;
    border: 2px solid var(--error);
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: 20px;
    transition: all 0.2s ease-in-out;
  }

  .close:hover {
    transform: scale(1.1);
  }

  input,
  textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--primary);
    background: transparent;
    color: var(--text);
  }

  textarea {
    resize: none;
    min-height: 100px;
  }

  div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    gap: 10px;
  }

  .glassy-button {
    margin-right: 20px;
  }

  .submit-btn {
    background-color: green;
  }

  .submit-btn:hover {
    background-color: rgb(19, 181, 19);
    border: 1px solid var(--bg-card);
  }

  .toggle-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-weight: 500;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #555;
      transition: 0.4s;
      border-radius: 24px;

      &:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
      }
    }

    input:checked + .slider {
      background-color: var(--primary);
    }

    input:checked + .slider:before {
      transform: translateX(13px);
    }
  }
}

@media (max-width: 610px) {
  .top {
    flex-direction: column;
  }

  .modal-container {
    padding: 30px 70px 30px 20px;
  }

  .toggle-label {
    flex-wrap: wrap;
  }
}
